#footer-default
  %footer
    .sitemap
      .menu
        %ul
          %li.item
            =link_to 'mailto:janel@totheroot.ca', title: 'Email Janel McKinnon at To the Root Support' do
              %i.fa.fa-envelope
          %li.item
            =link_to 'Product Registration', new_product_registration_path, title: 'Register your product for enhanced support and service with To the Root.'

            
    .copyright
      &copy;
      = Date.today.year