#footer-default
  .col-sm-6
    %div{ itemscope: true, :itemtype => "http://schema.org/LocalBusiness" }
      %span{ itemprop: 'logo' }
        =image_tag( "butterfly-logo.svg", alt: "To the Root's beautiful butterfly logo symbolizing their dedication to using natural organic fabrics.", itemprop: 'image', class: 'logo' )

      .wordmark
        %span{ itemprop: 'name' } To The Root
    
      %div{ itemprop: 'address', itemscope: true, itemtype: 'http://schema.org/PostalAddress' }
        %span{ itemprop: 'streetAddress' } 59 Courtland St.
        %br
        %span{ itemprop: 'addressLocality' } Orillia
        %span,&nbsp;
        %span{ itemprop: 'addressRegion' } ON
        %span &nbsp;
        %span{ itemprop: 'postalCode' } L3V1A6
        %br
        %span{ itemprop: 'addressCountry' } Canada
      
      %div
        %span{ itemprop: 'telephone' } 1(705)345-2959

      %div
        %span{ class: 'hideit', itemprop: 'priceRange' }$$

  .col-sm-6
    #social-container.pull-right
      %ul#social-items
        %li.social-item
          =link_to "https://twitter.com/ToTheRoot", title: "To the Root Twitter presence.", target: "_blank", onClick: "ga('send', 'event', 'Twitter', 'click', 'CTA Twitter');" do
            %i.fa.fa-twitter
        %li.social-item
          =link_to "https://www.facebook.com/2theRoot", title: "To the Root Facebook presence.", target: "_blank", onClick: "ga('send', 'event', 'Facebook', 'click', 'CTA Facebook');" do
            %i.fa.fa-facebook-square
        %li.social-item
          =link_to "https://www.instagram.com/totheroothandmadecreations/", title: "To the Root Instagram presence.", target: "_blank", onClick: "ga('send', 'event', 'Instagram', 'click', 'CTA Instagram');" do
            %i.fa.fa-instagram
        %li.social-item
          =link_to "https://www.youtube.com/channel/UCp83bA-UgZ00Y9AfUvwN1uw?view_as=subscriber", title: "Instructionals and helpful tutorials on To The Root's YouTube channel.", target: "_blank", onClick: "ga('send', 'event', 'YouTube', 'click', 'CTA YouTube');" do
            %i.fa.fa-youtube
  
  .col-sm-12.copy-right
    To the Root Handmade Creations
    &copy;
    = Date.today.year



                

        