#home-nav
  = render "navs/default"

.container
  #pages-faq
    %header
      %h1.page-header
        %i.fa.fa-question-circle
        &nbsp;
        F.A.Q
        %small - just the facts, Mac

    %article
      %ul#faq
        %li
          .question
            How do I care for my organic diapers?
          .answer
            %p
              Organic fabrics require a little more care than basic material. When washing your diapers, it is preferable to use natural detergents that won’t strip away the natural fibers. Never use bleach or harsh additives to remove stains. Oxy Clean or “green bleach” can be used, diluted, during the wash cycle. Avoid all use of fabric softeners or dryer sheets as they will reduce the absorbency of your diapers.

        %li
          .question
            My ring sling is uncomfortable. How can I adjust it?
          .answer
            %p
              Your ring sling should feel comfortable and never dig into your shoulders or hurt your back. If you are experiencing discomfort, re-thread your ring sling using the instructions provided on our site. The rings should sit between your shoulder and your breast, and the inner rail of the ring sling should be snug against your body.

        %li
          .question
            What are the differences between organic hemp, organic bamboo and organic cotton? 
          .answer
            %p
              All organics are grown without the use of harmful synthetic fertilizers or pesticides. Overall, their environmental impact is lower than commercially grown crops. Also, when making our diapers and organic items, we often blend different organic fabrics to ensure optimal wearability of our items. Here are some key differences:
            
            %p
              Organic cotton is easily grown and harvested using fertile soil and careful planning. When organic cotton is used in textiles such as clothing, it is known for its versatility. Organic cotton fibers wick moisture away from skin, keeping it dry and comfortable. It is light to wear, yet it can hold up to 2.7 times its weight in water. Becomes softer and more absorbent with each wash. 
            
            %p
              Organic bamboo is a sustainable material due to the fact that bamboo is one of the fastest growing plants in the world. It can grow up to 3 feet per day and is used for products such as building materials, foods and textiles. Bamboo has natural antimicrobial qualities which discourages the growth of bacteria. In cloth diapers or other clothing, this makes it a superior product, along with its durability. Bamboo clothing doesn’t require washing as often as basic fabrics and can hold up to 3 times its weight in water. It also becomes softer and more absorbent with each washing.
            
            %p
              Hemp has been used for thousands of years and harvested both for its medicinal qualities as well as its strong fibers. Hemp is made from Cannabis Sativa plants and carefully manufactured into durable, yet highly sustainable material. It produces a high crop yield per acre and leaves the soil rich and fertile for the next crop. As a textile, hemp is the most durable and absorbent fiber. It is 3 times stronger than basic cotton, resistant to mold, mildew and UV damage. It is also softens with each washing and maintains its shape.

        %li
          .question
            What is ZORB?
          .answer
            %p
              Zorb is an ultra-absorbent material made from a blend of hemp, cotton and bamboo micro-fibers. It reduces compression leaks because it can absorb 10 times its weight within 2 seconds. This makes it ideal for cloth pads and diaper soakers. Zorb is hypo-allergenic and is washed with the same care as organic fabrics. 

        %li
          .question
            I’m new to cloth diapers, how many do I need for a new baby?
          .answer
            %p
              Well, that depends on how often you want to do laundry. In the beginning, babies need to be changed every 1-3 hours. Usually 15-24 diapers are a good stash to get you through the newborn stage. You’ll also require 12-24 wipes, a diaper pail to store diapers until wash day, and a wet bag to store diapers in when you are travelling with baby. 

        %li
          .question
            What is an Amber Teething Necklace and what are its qualities?
          .answer
            %p
              Baltic Amber is a fossilized substance made from tree resin. It contains the highest levels of succinic acid found in nature, which is widely used for its pain-relieving properties. 
            
            %p
              When worn against your skin, the oil from the beads activate, allowing you to benefit from their healing qualities. For your baby, this can mean:
            
            %p
              *reduced fussiness 
              *reduced pain from teething
              *improved immune system
            
            %p
              ***It is important to note that this item can cause choking or strangulation when used incorrectly. 
            
            %p
              *Never allow a child to wear a necklace without constant supervision. 
            
            %p
              *Never allow a child to fall asleep while wearing a necklace. 
            
            %p
              *Never allow your child to play with the necklace when not being worn as choking may occur 
            
            %p
              For further safety, this necklace can easily be worn as a bracelet or anklet for baby which still allows the full healing properties while reducing risk of harm.

        %li
          .question
            What are the dimensions of your ring slings?
          .answer
            %p
              All ring slings are made at least 30 inches wide and usually over 80 inches in length, unless otherwise specified. All sling rings are weight-tested and purchased through SlingRings.com and have been approved for their safety and durability. 


      