#navbar-default
  .nav-wrapper
    .brand-nav
      =link_to '', root_path, class: 'logo', title: "The butterfly logo that represents To the Root's curious creativity, and attention to nature. Click the little guy to quickly flit back to our home page."

    .menu
      %ul
        %li.item
          =link_to 'mailto:janel@totheroot.ca', title: 'Email Janel McKinnon at To the Root Support' do
            %i.fa.fa-envelope Email Us
        %li.item
          =link_to 'http://blog.totheroot.ca/', title: 'To the Root blog by Janel McKinnon' do
            %i.fa.fa-wordpress Blog
        / -if user_signed_in?
        /   %li.item
        /     =link_to destroy_user_session_path, title: 'Logout of To the Root', method: :delete do
        /       %i.fa.fa-sign-out
        / -else
        /   %li.item
        /     =link_to new_user_session_path, title: 'Sign or register a To The Root account.', id: 'sign-in-link' do
        /       %i.fa.fa-sign-in