#navbar-default
  .nav-wrapper
    .brand-nav
      .logo{title: "The butterfly logo that represents To the Root's curious creativity, and attention to nature."}

    .menu
      %ul
        %li.item
          Products
        %li.item
          Support
        %li.item
          %i.fa.fa-shopping-cart
        %li.item
      
      = render "helpers/autocompleteSearch"