#navbar-default
  .nav-wrapper
    .brand-nav
      .logo
        = image_tag "butterfly-logo.svg", alt: "The butterfly logo that represents To the Root's curious creativity, and attention to nature."
      .heading
        To the Root

    .menu
      %ul
        %li.item
          Products
        %li.item
          Support
        %li.item
          %i.fa.fa-shopping-cart
        %li.item
      
      = render "helpers/autocompleteSearch"