%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      =link_to '', root_path, class: "navbar-brand", title: "The butterfly logo that represents To the Root's curious creativity, and attention to nature. Click the little guy to quickly flit back to our home page."
    #navyboy
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "https://twitter.com/ToTheRoot", title: "To the Root Twitter presence.", target: "_blank" do
            %i.fa.fa-twitter
        %li
          =link_to "https://www.facebook.com/2theRoot", title: "To the Root Facebook presence.", target: "_blank" do
            %i.fa.fa-facebook-square
        %li
          =link_to "https://www.instagram.com/totheroothandmadecreations/", title: "To the Root Instagram presence.", target: "_blank" do
            %i.fa.fa-instagram
        %li
          =link_to "mailto:janel@totheroot.ca", title: "Email Janel McKinnon at To the Root Support" do
            %i.fa.fa-envelope
        %li
          =link_to 'http://blog.totheroot.ca/', title: 'To the Root blog by Janel McKinnon' do
            %i.fa.fa-rss