#navbar-default
  .nav-wrapper
    .brand-nav
      =link_to '', root_path, class: 'logo', title: "The butterfly logo that represents To the Root's curious creativity, and attention to nature."

    .menu
      %ul
        %li.item
          =link_to 'Product Registration', new_product_registration_path
      
      / = render "helpers/autocompleteSearch"