%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      =link_to '', root_path, class: "navbar-brand", title: "The butterfly logo that represents To the Root's curious creativity, and attention to nature. Click the little guy to quickly flit back to our home page."
    #navyboy
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to faq_path, title: "Our frequently asked quesions section." do
            %i.fa.fa-question-circle
            &nbsp;
            F.A.Q
        %li
          =link_to contact_us_path, title: "Contact To the Root Handmade Creations", onClick: "ga('send', 'event', 'Contact-Us', 'click', 'CTA Contact');" do
            %i.fa.fa-envelope
            &nbsp;
            Contact Us
        %li
          =link_to news_path, title: 'To the Root blog by Janel McKinnon', onClick: "ga('send', 'event', 'Blog', 'click', 'CTA Blog');" do
            %i.fa.fa-newspaper-o
            &nbsp;
            News
    
    -if user_signed_in? && current_user.email == Rails.application.secrets.gmail_login
      #adminnav
        %ul.nav.navbar-nav
          %li
            =link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-unlock
          %li
            =link_to shop_sections_path do
              Shop Sections
          %li
            =link_to news_events_path do
              News