#home-nav
  = render "navs/default"

#header-home
  
  .tablecell

    #home-branding
      #home-logo
        =image_tag( "butterfly-logo.svg", alt: "To the Root's beautiful butterfly logo symbolizing their dedication to using natural organic fabrics.", itemprop: 'image' )

      #home-wordmark
        %h1 To The Root

    #shop-statement
      #mission{ itemprop: 'description' }
        Sustainable, handmade products for conscious people.\

      #call-to-action
        =link_to '#listings-home', class: 'btn btn-lg cta-products', onClick: "ga('send', 'event', 'Visiting-Etsy', 'click', 'CTA Etsy');" do
          View Our Products&nbsp;
          %i.fa.fa-chevron-down

        =link_to 'https://www.etsy.com/ca/shop/ToTheRoot', class: 'btn btn-lg cta', onClick: "ga('send', 'event', 'Visiting-Etsy', 'click', 'CTA Etsy');" do
          Visit Our Etsy Shop&nbsp;
          %i.fa.fa-chevron-right
