#home-nav
  = render "navs/default"

#header-home     
    
  #home-branding
    #home-logo{title: "To the Root's beautiful butterfly logo symbolizing their dedication to using natural organic fabrics."}

    #home-wordmark
      %h1 To The Root

  #shop-statement
    Sustainable, handmade products for conscious people.
  
  =link_to 'Visit Our Etsy Shop', 'https://www.etsy.com/ca/shop/ToTheRoot', class: 'btn btn-default cta'

#home-footer
  = render 'footers/default'
