#header-home
  #home-main
    #home-nav
      = render "navs/default"

    #shop-statement
      %p
        Sustainable, handmade products for conscious people.
    
    %button
      See our products
