$ttt-red: rgb(214, 59, 53);
$ttt-green: rgb(224, 228, 81);
$ttt-orange: rgb(238, 189, 91);
$ttt-yellow: rgb(249, 240, 84);

@import 'jquery-ui/core';
@import 'jquery-ui/autocomplete';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Parisienne|Lato);

body {
  font-family: 'Lato', sans-serif;
}