$ttt-red: rgb(214, 59, 53);
$ttt-green: rgb(224, 228, 81);
$ttt-orange: rgb(238, 189, 91);
$ttt-yellow: rgb(249, 240, 84);

#footer-default {
  background-color: #333;
  width: 100%;
  overflow: auto;
  padding: 2em;
  color: #fff;

  .logo {
    width: 50px;
  }

  .wordmark {
    font-size: 1.5em;
  }

  .hideit {
    color: transparent;
    background-color: transparent;
    height: 0;
    width: 0;
    font-size: 0;
    position: absolute;
    left: -9999px;
  }

  margin-top: 2em;

  #social-container {
    #social-items {
      list-style: none;

      .social-item {
        display: inline-block;
        font-size: 4em;
        margin: 0.5em;
        margin-top: 0.75em;

        a {
          color: #fff;

          &:hover {
            color: $ttt-green;
          }
        }
      }
    }
  }

  .copy-right {
    text-align: center;
  }

}