@import 'navs';
@import 'shop-sections';

$ttt-red: rgb(214, 59, 53);
$ttt-green: rgb(224, 228, 81);
$ttt-orange: rgb(238, 189, 91);
$ttt-yellow: rgb(249, 240, 84);
$sm-break: 560px;

::-webkit-scrollbar { 
  display: none; 
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

#home-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#header-home {
  height: 100%;
  background-image: image-url('linen-espresso-bg.jpg');
  background-size: cover;
  padding-top: 60px;
  display: table;
  width: 100%;

  .tablecell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;

    #home-branding {
      text-align: center;

      #home-logo {
        display: inline-block;

        img {
          height: 6em;
          width: 6em;
          margin-top: -6em;
        }
      }

      #home-wordmark {
        display: inline-block;

        h1 {
          font-family: 'Parisienne', cursive;
          color: #fff;
          font-size: 6em;
        }
      }

    }

    #shop-statement {
      text-align: center;
      position: relative;

      #mission {
        color: #fff;
        font-size: 2em;
      }

      #call-to-action {
        margin-top: 2em;

        a {
          color: #fff;
          border: 1px solid #fff;
          margin: 1em;

          &.cta {
            background-color: $ttt-orange;
          }

          &.cta-products {
            background-color: $ttt-red;
          }
        }

        a:hover {
          background-color: $ttt-green;
        }
      }
    }

    @media (max-width: $sm-break) {
      #home-branding {

        #home-logo {
          img {
            margin-top: 0;
          }
        }

        #home-wordmark {
          h1 {
            font-size: 4em;
          }
        }
      }

      #shop-statement {
        #mission {
          font-size: 1.5em;
        }

        #call-to-action {

        }
      }
    }
  }
}

#listings-home {
  height: 100%;
  width: 100%;

  h2 {
    text-align: center;
    margin: 0;
    padding: 2em;
    color: #fff;
    background-color: #333;
    margin-bottom: 2em;
  }
}















