$ttt-red: rgb(214, 59, 53);
$ttt-green: rgb(224, 228, 81);
$ttt-orange: rgb(238, 189, 91);
$ttt-yellow: rgb(249, 240, 84);

#home-nav > nav.navbar.navbar-default {
  border-radius: 0;
  background-color: #fff;

  .container-fluid {
    .navbar-header {
      .navbar-brand {
        background-image: image-url('butterfly-logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2em;
        margin-left: 1em;
      }
    }
  }

  #navyboy {
    float: right;
  }

  #navyboy > ul > li > a {
    font-size: 1em;
    color: $ttt-red;
  }

  #navyboy > ul > li:hover > a {
    color: $ttt-orange;
  }

  .navbar-header:before, .navbar-header:after {
    content: none !important;
  }

  .navbar-nav > li {
    float: left !important;
  }
}