.featured-product
  .title
    %h3
      = raw locals[:product].title
  .image-thumb
    = image_tag locals[:product].images.first, class: "img-responsive", alt: locals[:product].description
  .price
    %span
      = "$#{locals[:product].price}"
