.shop-sections{ itemscope: true, itemtype: 'http://schema.org/Product' }
  = link_to "/products/#{locals[:section].slug}", class: 'local-products' do
    .inside-container{ itemprop: 'image', style: "background-image: url(#{locals[:section].etsy_products.first.images.first});" }
      .title
        %h3{ itemprop: 'name' }
          = raw locals[:section].title

    .clearfix