.shop-sections
  = link_to "/products/#{locals[:section].shop_section_id}", class: 'local-products' do
    .inside-container{ style: "background-image: url(#{locals[:section].etsy_products.first.images.first});", itemscope: :true, itemtype: "https://schema.org/category" }
      .title
        %h3{ itemprop: "name" }
          = raw locals[:section].title

    .clearfix